body{
    margin: 0;
    display: grid;
    grid-template-areas:'nav nav nav nav'
                        'header section aside div'
                        'footer footer footer footer';
    grid-template-rows: 20vh 70vh 40vh;
}
nav{
    grid-area:  nav;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    cursor: pointer;
    display: none;
}
@media(max-width:768px){
    
    body{
       grid-template-areas: 'nav nav nav nav'
                            'header header section section'
                            'aside aside div div'
                            'footer footer footer footer';
        grid-template-rows: 20vh 70vh 70vh 40vh;
    }
    nav a{
        display: none;
    
    }
    nav img{
        display: flex;
    }
}
header{
    grid-area: header;
    background-color: aquamarine;
}
aside{
    grid-area: aside;
    background-color: orange;
}
section{
    grid-area: section;
    background-color:green;
}
div{
    grid-area: div;
    background-color: red;
}
footer{
    grid-area: footer;
    background-color: magenta;
}

@media(max-width:475px){
body{
    grid-template-areas: 'nav nav nav nav'
                         'header header header header'
                         'section section section section'
                         'aside aside aside aside'
                         'div div div div '
                         'footer footer footer';
    grid-template-rows: 20vh 50vh 50vh 50vh 30vh;
}

}